html,
body {
    /* font-family: "Poppins", sans-serif; */
    font-size: 14px;
    color: #797979;
    font-family: sans-serif;
    vertical-align: baseline;
    line-height: 27px;
    background: #ffffff;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}
#page-container {
    min-height: calc(100vh - 300px);
}

p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #3a3a3a;
    font-family: sans-serif;
    line-height: 27px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    color: #3a3a3a;
    margin: 0 0 26px;
}

h1 {
    font-size: 42px;
    line-height: 54px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fe9738;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    outline: none !important;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #fe9738;
}
.section-padding{
    padding: 80px 0;
}
.section-padding-top{
    padding-top: 80px;
}